<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<a href='{{url_for("index")}}'>Home</a> |

{% if current_user.is_authenticated %}
    <!--{% set user_id_get = current_user.get_id() %} -->
{% set user_id = current_user.id %}
    <a href='{{url_for("user_view", user_id = user_id)}}'>My Profile</a> |
    <a href='{{url_for("make_post", user_id = user_id)}}'>Post</a> | <!-- was user_id = user_id_get-->
    <a href='{{url_for("user_view")}}'>User List</a> |
    <a href='{{url_for("logout")}}'>Logout</a> |
{% else %}
    <a href='{{url_for("login")}}'>Login</a> |
    <a href='{{url_for("user_create")}}'>Create User</a> |
{% endif %}
<h1>YAPCHAT</h1>
<hr>
<span style="color:#FF0000";>{{get_flashed_messages()[0]}}</span>
</body>

