<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

{% include "header.html" %}
<ul>
<h1>Friends:</h1>
{% for user in users %}
    {% if user.id in current_user['friends'] %}
  <li><a href='{{url_for("user_view", user_id=user._id)}}'>{{ user.username|e }}</a></li>
    {% endif %}
{% endfor %}
<h1>Users:</h1>
{% for user in users %}
    {% if user.id not in current_user['friends'] %}
  <li><a href='{{url_for("user_view", user_id=user._id)}}'>{{ user.username|e }}</a></li>
    {% endif %}
{% endfor %}
</ul>
