<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

{% include "header.html" %}
{% set user_id = user._id.get('$oid') %} <!-- specify the specific user showns id so you can call functions with that as the specific user id.-->

<h1>{{ user.username }}</h1>

<!-- add bio -->
<!-- how do I not have this show up if its a different user than myself-->
{{user.bio}}
<br>
<br>
<br>
{% if user_id == current_user.id %}

<a href="{{ url_for('update_bio', user_id=user_id) }}">
    <button>Change Bio</button>
</a>

<a href="{{ url_for('user_update', user_id=user_id) }}" method="GET">
        <button>Change Password</button>
    </a>

    <!-- Button to go to the Delete User page -->
    <a href="{{ url_for('user_delete', user_id=user_id) }}" method="GET">
        <button>Delete User</button>
    </a>
{% endif %}
